@using EntityLayer.Concrete
@model List<Heading>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string color = "", btnStatus = "", statusWord = "", btnIcon = "";
}

<h4>Başlıklar</h4>
<hr />
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 20%">
                            Başlık Adı
                        </th>
                        <th style="width: 25%">
                            Oluşturan Yazar
                        </th>
                        <th style="width:5%">
                            Durum
                        </th>
                        <th style="width: 8%" class="text-center">
                            Kategori
                        </th>
                        <th style="width: 25%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.ID
                            </td>
                            <td>
                                <a>
                                    @item.HeadingName
                                </a>
                                <br />
                                <small>
                                    Oluşturma: @item.AddingDate.ToShortDateString()
                                </small>
                            </td>
                            <td>
                                <img alt="Avatar" class="img-circle img-md" src="@item.Writer.WriterImage">&nbsp;&nbsp;
                                <a>@(item.Writer.WriterName+" "+item.Writer.WriterSurname)</a>
                            </td>
                            <td>
                                @switch (item.HeadingStatus)
                                {
                                    case true:
                                        <span class="badge badge-success">&nbsp;Aktif</span>
                                        btnStatus = "btn btn-danger btn-sm";
                                        statusWord = "Pasif Yap";
                                        btnIcon = "fas fa-times";
                                        break;
                                    default:
                                        <span class="badge badge-danger">&nbsp;Pasif</span>
                                        btnStatus = "btn btn-success btn-sm";
                                        statusWord = "Aktif Yap";
                                        btnIcon = "fas fa-check";
                                        break;
                                }
                            </td>
                            <td class="project-state">
                                @switch (item.Category.CategoryName)
                                {
                                    case "Dizi":
                                        color = "badge badge-success";
                                        break;
                                    case "Film":
                                        color = "badge badge-primary";
                                        break;
                                    default:
                                        color = "badge badge-dark";
                                        break;
                                }
                                <span class="@color">
                                    @item.Category.CategoryName
                                </span>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="/Content/ContentByHeading/@item.ID">
                                    <i class="fas fa-folder">
                                    </i>
                                    Yazılar
                                </a>
                                <a class="btn btn-info btn-sm" href="/Heading/EditHeading/@item.ID">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                                <a class="@btnStatus" href="/Heading/DeleteHeading/@item.ID">
                                    <i class="@btnIcon">
                                    </i>&nbsp;
                                    @statusWord
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>

<a href="/Heading/AddHeading" class="btn btn-primary">Başlık Oluştur</a>